.container {
	max-width: 100%;
    max-height: 900px; 
   }

.centerBar {
    height: 600px;
    width: 33%;
}

.red {
    background-color: red;
    height: 100px;    
}

.yellow {
    background-color: yellow;
    float: right;    
}

.purple {
    background-color: purple; 
    width: 100%;
}

.blue {
    background-color: blue; 
    float: left;   
}

.green {
    background-color: green;
    height: 100px;    
}